@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

:root{
    --primary-color: #21324B;
    --secondary-color: #78B9BA;
    --background-color: #CE472F;
    --text-color: #C6C5B4;
}

body{
    font-family: "Nunito", sans-serif;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}


.main-title{
    display: none;
}

.main-header{
    position: sticky;
    background-color: var(--primary-color);
    display: flex;
    height: 60px;
    justify-content: space-between;
    width: 100%;
    position: relative;
    top: 0;
    z-index: 2;

    .input-burger{
        display: none;
    }

    .input-burger:checked{
        ~.main-nav{
            left: 0 !important;
        }
    }

    .burger-container{
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 60px;

        .burger{
            width: 50px;
            border-radius: 50%;
        }
    }

    .main-nav{
        position: fixed;
        left: -180px;
        width: 180px;
        top: 60px;
        background-color: var(--primary-color);
        height: 100vh;
        bottom: 0;
        transition: left 0.3s ease-in-out;

        .nav-list{
            padding: 16px 0;

            a.nav-link{
                display: inline-block;
                text-decoration: none;
                padding: 16px;
                width: 100%;
                transition: background-color .2s ease-in-out;
                color: white;

                &:hover{
                    background-color: var(--text-color);
                }
            }
        }
    }

    .logo{
        display: none;
    }

    .user-info{
        display: flex;
        justify-content: center;
        align-items: center;

        .icon-container{
            color: white;
            font-size: 30px;
            font-weight: 100;
            cursor: pointer;
            margin: 10px 25px 10px 0;
        }
    }
}

@media screen and (width > 768px) {
    body{
        justify-content: space-between;
    }

    .main-header{
        position: sticky;
        justify-content: flex-start;
        height: 120px;
        
        .main-nav{
            position: static;
            width: auto;
            height: 60px;

            .nav-list{
                display: flex;
                padding: 0;
                height: 100%;

                .nav-item{
                    display: flex;

                    .nav-link{
                        color: white;
                        display: flex !important;
                        align-items: center;
                        padding: 16px;
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
            }
        }

        .user-info{
            margin-left: auto;
            height: 60px;

            .icon-container{
                color: white;
                font-size: 35px;
                font-weight: 100;
                cursor: pointer;
                margin: 10px 25px 10px 0;

                .cart-count{

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: 7px;
                    right: 15px;
                    width: 25px;
                    height: 25px;
                    background-color: red;
                    color: white;
                    border-radius: 50%;
                    font-size: 0.75rem;
                }
            }
        }
    }

    .main-title{
        background-color: var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 60px;
        height: 60px;
        width: max-content;

            img{
                width: 200px;
            }
        
    }
}