@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

:root{
    --primary-color: #21324B;
    --secondary-color: #78B9BA;
    --background-color: #CE472F;
    --text-color: #C6C5B4;
}

body{
    font-family: "Nunito", sans-serif;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}
.main-footer {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--text-color);
    flex-wrap: wrap;
    gap: 20px;

    section{
        flex: 1;
    }

    .logo-footer img {
        height: 52.66px;
        width: 200px;
    }

    

    .info-footer div{
        margin: 4px;
        text-align: center;
    }

    .icon{
        padding: 0 10px;
    }

    .redes{
        margin: 5px 0;
    }
}

@media screen and (width > 768px) {
    body{
        justify-content: space-between;
    }

    .main-footer {
        display: flex;
        flex-direction: row;
        background-color: var(--primary-color);

        section{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    
        .logo-footer img {
            height: 52.66px;
            width: 200px;
        }
    
    }
}